body {
  background-color: rgb(30, 30, 30);
  font-family: "roboto", sans-serif;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(213, 243, 207);
  padding: 1.5rem;
  border-radius: 10px;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(241, 233, 233);
  padding: 0.5rem;
  color: rgb(61, 58, 58);
}

input:focus,
textarea:focus {
  background-color: rgb(236, 213, 213);
  color: rgb(213, 203, 224);
  /* border-color: rgb(115, 8, 238); */
}

button {
  display: block;
  font: inherit;
  background-color: rgb(3, 51, 54);
  color: white;
  border: 1px solid rgb(3, 51, 54);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(52, 14, 95);
  border-color: rgb(52, 14, 95);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin: 0.5rem;
}
