body{
    background-color:#AEF1F4;
    margin 0px;
    font-family: Georgia;
}
header{
    background-color:#0EA2A9;
    text-align: center;
    color: white;
    height: 80px;
}
main{
    display:flex;
}
#left{
    width: 40%;
}
table{
    border: 1px solid black;
}